{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<a href="{% url 'login' %}" class="btn btn-warning">LOGIN</a><br><br>
<h1>Register Here:</h1><br><br>

<form method="POST">
    {% csrf_token %}
    <label for="fname" class="form-label">Firstname</label>
    <input type="text" id="fname" name="firstname" required="required" class="form-control">

    <label for="lname" class="form-label">Lastname</label>
    <input type="text" id="lname" name="lastname" required="required" class="form-control">

    <label for="uname" class="form-label">Username</label>
    <input type="text" id="uname" name="username" required="required" class="form-control">

    <label for="pwd" class="form-label">Password</label>
    <input type="password" id="pwd" name="password" required="required" class="form-control">
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</body>
</html>
{% endblock %}